body {
  text-align: center;
 }

#page-wrap {
  text-align: left;
  width: 800px;
  margin: 0 auto;
}
#menu {
  width: 800px;
  margin: 0 auto;
  }
  
#connexion {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}

#logo {
  text-align: right;
  width: 800px;
  margin: 0 auto;
}

#conso {
	width : 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	text-align : center;
}

#onglets
{
    font : bold 11px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 24px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 1px solid #9EA0A1;
    margin-left : 0;
}

#onglets li
{
    float : left;
    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
}

#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#onglets a
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 4px;
}

#onglets a:hover
{
    background : #fff;
}